@import './base.css';

#app {
  max-width: 1280px;
  font-weight: normal;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


@media (max-width: 600px) {

  #app {
    grid-template-columns: 1fr;
  }
}
